.navbar {
    padding: 0.6rem;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

#jumbotronImages {
    size: 100px;
}

#background1 {
    height: 100%;
}

#siteLogo {
    width: 40px;
}

.carousel-caption {
   position: absolute;
   top: 50%; 
}

.carousel-caption h1 {
   font-weight: 500;
}
.carousel-caption h2 {
   font-weight: 200;
}
#socialMedia {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
}

.social {
    font-family: "Dancing Script";
    font-weight: 400;
    color: white;
}

.social-black {
    font-family: "Dancing Script";
    font-weight: 400;
    color: black;
}

.social-icon:hover {
    transform: scale(1.2, 1.2);
}

.aboutBio {
    font-size: large;
    text-indent: 3rem;
}

#aboutMe {
    max-width: 20rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #8a3ab9;
}

.fa-linkedin {
    color:#0e76a8;
}

.fa-github {
    color:black;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: #d5d5d5;
}

#footerImage {
    width: 10rem;
    border-radius: 50%;
}

.goal {
    color: white;
    text-indent: 3rem;
}
